.projects-title {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 32px;
    font-weight: bold;

}
.projects {
    justify-content: center;
    align-items: center;
    display: flex;
}