.projects-title {
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 32px;
    font-weight: bold;

}


.projects-title:hover {
    color: pink;
}
.projects {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 40px;
    flex-wrap: wrap;

}

